<!DOCTYPE html>
<html>
<head>
  <title>Spread DBC Worldwide</title>
</head>
<body>
  <form action="/campuses" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Spread DBC</button>
  </form>
</body>
</html>