

.octopus {
	display: block;
	margin: auto;
	padding-top: 10%;
	text-align: center;
}

#glasses {
	position: relative;
	top: -193px;
	left: 5px;
	z-index: 1;
}

#hat {
	position: relative;
	top: -410px ;
	left: 8px;
	z-index: 1;
}